%echo Generating a standard key
Key-Type: DSA
Key-Length: 2048
Subkey-Type: ELG-E
Subkey-Length: 2048
Name-Real: rackspace_ceph_repo
Name-Comment: RPC-Ceph Repo Pinning
Name-email: donotreply@rackspace.com
Expire-Date: 0
Passphrase: {{ ceph_repokey_passphrase }}
%commit
%echo done
