%echo Generating a standard key
Key-Type: DSA
Key-Length: 2048
Subkey-Type: ELG-E
Subkey-Length: 2048
Name-Real: Rackspace Inc
Name-Comment: Ceph {{ ceph_stable_release }} Repo
Name-email: donotreply@rackspace.com
Expire-Date: 0
%commit
%echo done
